apiVersion: v1
kind: Service

metadata:
  name: techtalksapi
  # namespace: aks-part4
spec:
  # type: NodePort
  # type: LoadBalancer
  type: ClusterIP
  ports:
  - port: 8080
  selector:
    run: techtalksapi